<h1>New Game</h1>

<div class="letters">
  <% griding = @grid.split('') %>
  <% griding.each do |letter| %>
    <div class="letter"><%= letter %></div>
  <% end %>
</div>


<form action="score">

</form>
